.cabecalho-menu-hamburger{
    width: 24px;
    height: 24px;
    background-image: url("../img/Frame\ 20.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.lista-menu{
    display: none;
    position:absolute;
    top:100%;
    width:8vw;
}

.container-botao{
    display: none;
}

.lista-menu-titulo ~.lista-menu-item{
    padding: 1em;
    background-color: var(--cor-do-texto);
}
.container-botao:checked ~.lista-menu{
    display:block;
}

.lista-menu-link{
    background-color: var(--links);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;

}

.menu-titulo{
    background-color:var(--links);
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
}
